#intro_text {
    background-color: #f4f4f4;
    border-left: 5px solid #005a9c;
    padding: 15px;
    margin-bottom: 20px;
}


.status-ok {
    background-color: #d4edda; /* Green for OK */
    color: #155724;
}

.status-warning {
    background-color: #fff3cd; /* Yellow for warnings */
    color: #856404;
}

.status-error {
    background-color: #f8d7da; /* Red for errors */
    color: #721c24;
}

.idealyzer-check-name {
    font-weight: bold;
}

.idealyzer-check-result {
    padding: 8px;
    border: 1px solid #dee2e6;
}
